#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pentagon {
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 35%, 0 30%, 0 0);
  background-color: var(--accent-color);
  opacity: 75%;
  z-index: -1;
}

.title {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 700;
}

.lesser-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

.text-input {
  display: block;
  width: 300px;
  height: 45px;
  border-radius: 11px;
  border: none;
  margin: 5px 25px;
  padding-left: 20px;
}

.text-input::placeholder {
  color: var(--accent-color);
  font-size: 13px;
}

.button {
  background-color: var(--accent-color);
  color: white;
  width: 220px;
  height: 44px;
  min-height: 44px;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:disabled {
  background-color: #c4c4c4;
  color: #7a7a7a;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-list li {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: var(--main-color);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.password-requirements {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .4rem;
  border: 1px dashed #55847a90;
  border-radius: 8px;
  padding: 1rem;
}

.pass {
  color: var(--accent-color);
  font-size: .8rem;
  text-decoration: line-through;
}

.not-pass {
  color: rgb(173, 0, 0);
  font-size: .8rem;
}

#logo-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 4rem;
  color: var(--accent-color);
}

.banner {
  height: 211px;
  margin: 20px auto;
}